.boxed-view {
    background: $boxed-view-overlay-bg;
    width: 100%;
    height: 100vh;
}

.boxed-view--modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: fade-out($boxed-view-overlay-bg, 0.3);

    
}

.boxed-view__box {
    background-color: $boxed-view-bg;
    padding: 2.4rem;
    text-align: center;
    width: 30rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:focus,
    &:active {
        outline: none;
        border: none;
    }
}

.boxed-view__form {

    & > * {
        // Instead of flexbox
        float: left;
        display: inline-block;
        width: 100%;
    }
}